* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}

.section {
  padding: 45px 0;
}

.container {
  width: 100%;
}

.name {
  font-size: 3rem;
}

.info {
  color: rgb(99, 96, 96);
  font-size: 1em;
  padding-left: 45px;
}

.page-header {
  display: inline;
  padding: 1.8rem;
}

li {
  display: inline;
}

ul {
  display: flex;
  padding-right: 0.5rem;
  margin-left: 1rem;
  gap: 1rem;
  justify-content: flex-end;
  background-color: #0C2214;
  background-position: center;
  width: 64rem;
  height: 5rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}
.buttons .btn {
  padding: 5px;
  background: #e6e6e6;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  color: #000;
  text-decoration: none;
}
.buttons .btn::before {
  font-family: FontAwesome;
  font-size: 1.3rem;
}
.buttons .btn-email::before {
  content: "@";
}
.buttons .btn-github::before {
  content: "";
}
.buttons .btn-insta::before {
  content: "";
}

.navbar .icon {
  display: none;
}

@media screen and (min-width: 242px) {
  .name {
    font-size: 2rem;
    padding-left: 1.5rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 13rem;
  }

  .info {
    font-size: 0.8rem;
  }

  .buttons {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }

  body {
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
  }
}

@media screen and (min-width: 500px) {
  .name {
    font-size: 3rem;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 12rem;
  }

  .info {
    font-size: 1rem;
    padding-left: 5rem;
  }

  .buttons {
    padding-top: 1rem;
    padding-left: 1.5rem;
  }
}
